/* This CSS design preset file was created by: Khian Victory D. Calderon */

/* font family */
body {
    font-family: 'Helvetica', 'Arial', 'Futura', 'Roboto', 'Avenir', sans-serif;
    background-color: rgb(53, 53, 53);
    color:white;
    transition: 0.5s;
    padding:0;
    margin:0;
}







#container {
    margin:5%;
}
#container, #plainportfolio, #modernportfolio, #classicportfolio, .child {
    display:none;
}

.box {
    align-content:center;
    display:grid;
    grid-gap:50px;
    grid-template-columns:1fr 1fr 1fr;
}

.threecolspan {
    grid-column: span 3;
}

.list {
    text-align:center;
    border:solid;
    padding:2%;
    line-height:2;
    background-color: rgb(73, 73, 73);
}

.lighten {
    transition: 0.5s;
}

.lighten:hover, .lighten:active {
    background-color: rgb(180, 180, 180);
    color:white;
    cursor:pointer;
}

.nodesign {
    border:none;
    background:none;
}

.inquire-buttons {
    cursor:pointer;
}








/* font sizes */
.t1 {
    font-size:4rem;
}
.t2 {
    font-size:3rem;
}
.t3 {
    font-size:2rem;
}
.t4 {
    font-size:1.5rem;
}
.t5 {
    font-size:0.8rem;
}

.p1 {
    padding:1%;
}
.p2 {
    padding:2%;
}
.p3 {
    padding:3%;
}
.p4 {
    padding:4%;
}

/* alignment */ 
.center-h {
    text-align:center;
    justify-content: center;
}
.center-v {
    display:flex;
    vertical-align: middle;
    align-items: center;
}
.left {
    text-align:left;
}
.right {
    text-align:right;
}

/* display flex */ 
.flex-c {
    display:flex;
    flex-direction:column;
}
.flex-r {
    display:flex;
    flex-direction:row;
}
.flex {
    flex:1;
}

/* sample transition enlarge */
.ec {
    padding:1%;
    transition: 0.3s;
}
.ec:hover, .ec:active {
    padding:3%;
    filter:brightness(20%);
}

/* add more if necessary below ------------------------------------------------- */
.sampleSlideLeftToRight {
    animation:slideLeftToRight 0.5s ease-out 1s 2 forwards; /* optional: add delay */
}

#choosestyle {
    animation:slideLeftToRight 1s ease-out;
}

#plainstyle {
    animation:slideUpToDown 1.5s ease-out;
}
#modernstyle {
    animation:slideUpToDown 2.5s ease-out;
}
#classicstyle {
    animation:slideUpToDown 3.5s ease-out;
}
#customstyle {
    animation:slideDownToUp 4.5s ease-out;
}

@keyframes slideUpToDown {
    0% {
        opacity:0;
        transform:translateY(-50px);
    }
    30% {
        opacity:0;
        transform:translateY(-50px);
    }
    100% {
        opacity:1;
        transform:translateY(0px);
    }
}

@keyframes slideDownToUp {
    0% {
        opacity:0;
        transform:translateY(50px);
    }
    30% {
        opacity:0;
        transform:translateY(50px);
    }
    100% {
        opacity:1;
        transform:translateY(0px);
    }
}

@keyframes slideLeftToRight {
    0% {
        opacity:0;
        transform:translateX(-50px);
    }
    100% {
        opacity:1;
        transform:translateX(0px);
    }
}


@keyframes slideLeftToRightWithDelay {
    0% {
        opacity:0;
        transform:translateX(-50px);
    }
    30% {
        opacity:0;
        transform:translateX(-50px);
    }
    100% {
        opacity:1;
        transform:translateX(0px);
    }
}



@keyframes slideLeftToRight {
    from { /* can also use percentage 0% */
        opacity:0;
        transform:translateX(-50px);
    }
    to { /* can also use percentage 100% */
        opacity:1;
        transform:translateX(0px);
    }
}











/* for android display */
@media (max-width: 768px) {
    .box {
        grid-template-columns:1fr;
        grid-template-rows:1 1 1 1;
        grid-gap:15px;
    }
    .threecolspan {
        grid-column: span 1;
    }
    .wideonly {
        display:none;
    }
    /* font sizes */
   .t1 {
       font-size:3.5rem;
    }
   .t2 {
       font-size:2.5rem;
    }
   .t3 {
       font-size:1.5rem;
    }
   .t4 {
       font-size:1rem;
    }
   .t5 {
       font-size:0.4rem;
   }
   #plainstyle {
    animation:slideLeftToRightWithDelay 2.5s ease-out;
   }
   #modernstyle {
    animation:slideLeftToRightWithDelay 3.5s ease-out;
   }
   #classicstyle {
    animation:slideLeftToRightWithDelay 4.5s ease-out;
   }
   #customstyle {
    animation:slideLeftToRightWithDelay 5.5s ease-out;
   }
}