.p_box {
    display:grid;
    grid-gap:20px;
    grid-template-columns: 1fr 1fr;
    width:100%;
    background:rgb(0, 17, 62);
    color:white;
    box-shadow:0px 0px 10px black;
}

.p_box2 {
    display:grid;
    grid-gap:20px;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top:5%;
}

.p_box3 {
    display:grid;
    grid-gap:20px;
    grid-template-columns: 1fr 1fr;
    margin:5%;
    color:black;
}

.p_boxlist {
    padding:3%;
}

.p_tworowspan {
    grid-row: span 2;
}

.p_threecolspan {
    grid-column: span 3;
}

.p_profilepic {
    width:50%;
    height:auto;
    border-radius:50%;
    border:solid black;
}

.p_bg1 {
    background:rgb(31, 58, 68);
    color:white;
}

.p_bg2 {
    background:rgb(28, 31, 122);
    color:white;
}

.p_bg3 {
    background:rgb(23, 74, 178);
    color:white;
}

.p_bg4 {
    background:rgb(146, 81, 181);
    color:white;
}

.p_l2 {
    line-height:2;
}

.p_rectangle {
    align-content:center;
    padding:4%;
    margin:auto;
    box-shadow:0px 0px 10px black;
}

.p_footer {
   padding: 4%;
   background:rgb(0, 13, 46);
   color:white;
}

@media (max-width: 768px) {
    .p_tworowspan {
        grid-row: span 1;
    }
    .p_threecolspan {
        grid-column:span 1;
    }
    .p_box, .p_box2, .p_box3 {
        grid-template-columns:1fr;
    }
}